.branding-identity-box, .branding-identity-box-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branding-identity-box-1 h2 {
    font-family: spectral;
    font-size: 38px;
    margin-top: 50px;
    color: rgb(19, 19, 18);
    text-align: center;
}

.branding-identity-box p {
    font-size: 23px;
    font-family: Poppins, sans-serif;
    text-align: center;
    padding: 0 20%;
}

@media (min-width: 250px) {
    .branding-identity-box img { 
        width: 60%;
        height: 60%;
    }

    .branding-identity-box-1 h2 {
        font-size: 20px;
    }

    .branding-identity-box p {
        font-size: 14px;
        padding: 0 10px;
    }
}
 
@media (min-width: 478px) {

    .branding-identity-box-1 h2 {
        font-size: 24px;
    }

    .branding-identity-box img {
        width: 80%;
        height: 80%;
        margin: 0;
    }

    .branding-identity-box p {
        font-size: 16px;
        padding: 0 20px;
    }
}

@media (min-width: 768px) {

    .branding-identity-box-1 h2 {
        font-size: 30px;
    }

    .branding-identity-box img {
        width: 60%;
        height: 60%;
    }

    .branding-identity-box p {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .branding-identity-box img { 
        width: 50%;
        height: 50%;
    }

    .branding-identity-box-1 h2 {
        font-size: 38px;
    }

    .branding-identity-box p {
        font-size: 23px;
        padding: 0 10%;
    }
}

@media (min-width: 1220px) {
    .branding-identity-box img { 
        width: 30%;
        height: 30%;
    }
}