.arrow-icon {
    vertical-align: middle;
  }

.contact-map-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    row-gap: 30px;
}


.contact-map-box-1 h3 {
    color: rgb(82, 79, 79);
   
}

.contact-map-box-2 iframe{
    width:50%;
    height: 380px;
}
/* form */
 .formbox{
   display: flex;
   justify-content: space-around;
 }

.contact-form-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* margin-top: 50px; */
}

.contact-form-image {
  
    margin-left: 7%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: poppins;
    background-color: rgba(240, 224, 180, 0.425);
    /* height: 300px; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 1px 5px gray;
}
.contact-form-image h1{
   background:linear-gradient(to right,rgb(255, 167, 5),rgba(255, 196, 2, 0.979),rgb(255, 198, 11));
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
.contact-form-image h3{
    margin-top: 10px;
}
.contact-form-image p{
    margin-top: 20px;
}
/* 
.contact-form-image img {
    width: 500px;
    height: 400px;
    margin-left: 130px;
} */
@media (max-width: 768px) {
.contact-form-image {
    margin-left: 5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: poppins;
}}
.fb img{
    width: 600px;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 40%;
    background-color: rgb(253, 235, 168); */
    padding: 2% 0;
    position: relative;
    border-radius: 30px;
    /* margin-left:800px; */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form form h2 {
    font-family: spectral;
    color: rgb(66, 64, 64);
}

.contact-form form .type-field {
    width: 500px;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-family: Poppins, sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid rgb(158, 154, 154);
}

/* .choices-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

.service-select-container {
    position: relative;
}

#choicesWrapper {
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    top: 50px;
    left: -10px;
}

.choices-wrapper h3 {
    font-family: spectral;
}

.choice-wrapper {
    display: flex;
    padding-bottom: 10px;
    column-gap: 10px;
}

.choice-wrapper p {
    font-family: Poppins, sans-serif;
}

.contact-form form textarea {
    width: 500px;
    height: 100px;
    border: none;
    padding: 10px;
    font-family: Poppins, sans-serif;
    border-radius: 20px;
    margin-top: 20px;
     border: 1px solid rgb(156, 156, 156);
}

.contact-form form textarea::placeholder{
    font-family: Poppins, sans-serif;
    
}


        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #e0e0e0;
            border: 1px solid #ccc;
            border-radius: 3px;
            cursor: pointer;
            position: relative;
            top: 5px;
        }

        input[type="checkbox"]:checked {
            background-color: rgb(251,202,23);
            border: 1px solid black;
        }


        input[type="checkbox"]:checked::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 4px;
            width: 2px;
            height: 8px;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            border-color: white;
            border-style: solid;
        }



/* btn */
/* From Uiverse.io by gharsh11032000 */ 
/* .button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: rgb(73, 72, 71);
  border: 2px solid rgb(85, 85, 84);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  margin-top: 20px;
}

.button input {
    background-color: transparent;
    border: none;
    outline: none;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(148, 147, 143);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(63, 63, 62, 0.4);
}

.button:active {
  scale: 1;
} */


/* From Uiverse.io by ShrinilDhorda */ 
.contact-form .btn {
  font-size: 1.2rem;
  padding: rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 30px #949596;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  margin-top: 40px;
}

.contact-form .btn:active {
  scale: 0.92;
}

.contact-form .btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(235, 205, 73, 0.973) 0%, rgba(245, 220, 110, 0.873) 60%);
  color: rgb(0, 0, 0);
}
/* end */
.pop-up {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.pop-up img {
    width: 50px;
}

@media (min-width: 250px) {
    .contact-form {
        width: 300px;
    }

    .contact-form form .type-field {
        width: 200px;
    }

    .contact-form form textarea {
        width: 200px;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .choice-wrapper p {
        font-size: 12px;
    }

}

@media (min-width: 478px) {
    .contact-form {
        width: 400px;
        padding: 4% 0;
    }

    .contact-form form .type-field {
        width: 300px;
    }

    .contact-form form textarea {
        width: 300px;
    }

}

@media (max-width: 768px) {
    .contact-map-box-2 iframe {
        width: 350px;
        height: 270px
    }

    .contact-form-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .contact-form-image{
        margin-top: 30px;
        background-color: white;
        padding: 10px;
        margin-left: 0px;
        width: 310px;
    
    
    }
 .contact-map-box-1 h3 {
        font-size: 15px;
        font-family: poppins;
    }
    .contact-map-box-1 b {
        font-size: 13px;
        font-family: poppins;
        font-weight: 400;
    }

    .contact-form {
        width: 100px;
        padding: 2% 0;
        margin-top: 40px;
        
    }

    .contact-form form .type-field {
        width: 300px;
        margin-top: 20px;
       
    }

    .contact-form form textarea {
        width: 300px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        top: 0;
    }
    
    input[type="checkbox"]:checked::after {
        width: 4px;
        height: 10px;
        left: 5px;
    }
    .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 40%;
    background-color: rgb(253, 235, 168); */
    padding: 2% 0;
    position: relative;
    border-radius: 30px;
    
   
}
.contact-map-box-1{
    background-color: rgb(249, 242, 223);
    padding: 30px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0;
 }
.contact-map-box-1 h2{
    color: rgb(172, 128, 9);
    margin-top: 50px;
    font-size: 20px;
    /* padding: 10px; */
}
   
}

@media (min-width: 992px) {
    .contact-form {
        width: 60%;
    }

    .contact-form form .type-field {
        width: 500px;
    }

    .contact-form form textarea {
        width: 500px;
    }

    .choice-wrapper p {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .contact-form {
        width: 40%;
    }

    .choice-wrapper p {
        font-size: 16px;
    }
}
/* end */

@media (min-width: 250px) {
    .contact-map-box-1 {
        height: 450px;
        margin-top: 25px;
    }
}

@media (min-width: 520px) {
    .contact-map-box {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 30px;
        flex-wrap: wrap;
    }

    .contact-map-box-1 {
        width: 350px;
        height: 380px;
        padding: 20px 0;
        margin-top: 0;
    }

   
    .contact-map-box-1 h3 {
        font-size: 16px;
    }

    .contact-map-box-2 iframe {
        width: 350px;
        height: 440px
    }

}

@media (min-width: 992px) {
    .contact-map-box {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        row-gap: 30px;
    }

    .contact-map-box-1 {
        width: 450px;
        height: 380px;
    }
 .contact-map-box-1 h3 {
        font-size: 15px;
        font-family: poppins;
    }
    .contact-map-box-1 b {
        font-size: 13px;
        font-family: poppins;
    }

    .contact-map-box-2 iframe {
        width: 450px;
        height: 380px
    }
}

@media (min-width: 1220px) {
    .contact-map-box {
        flex-direction: row;
        justify-content: center;
        column-gap: 5%;
     
    }
 .contact-map-box-1{
    background-color: rgb(249, 242, 223);
    padding: 30px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 gray;
 }
.contact-map-box-1 h2{
    color: rgb(172, 128, 9);
    margin-top: 10px;
}
    .contact-map-box-1 h3 {
        font-size: 20px;
        font-family: poppins;
        text-decoration: underline;
    }
    .contact-map-box-1 b {
        font-size: 15px;
        font-family: poppins;
        font-weight: 500;
    }


    .contact-map-box-2 iframe {
        width: 650px;
        height: 555px;
        margin-left: 10px;

    }
    .footer{
        margin-top: 50px;
    }
}

@media (min-width: 1230px) {
    .rvk-top {
        margin: -30px 0 30px 0;
    }
}.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: poppins;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
@media (max-width:768px){
    .cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: poppins;
    transform: translateY(-50%);    
}
.footer{
        margin-top: 10px;
    }

}