.shootimg{
    height: 500px;
    width: 700px;
}
.adshoot{
    display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
}
.adimg img{
     height: 300px;
    width: 400px;
}
.voiceover{
    display: flex;
    justify-content: space-evenly;
    column-gap: 100px;
}
.voice img{
    height: 300px;
    width: 350px;
}
.overr{
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 85, 85);
}
.overr p{
margin-top: 50px;
}
.footer{
    margin-top: 50px;
}
.contentmaking img{
  height: 300px;
    width: 350px;
}
.para{
    font-family: poppins;
font-size: 20px;
font-weight: 600;
color: rgb(51, 49, 49);
padding: 40px;
}

.smo img{
    width: 350px;
    margin-top: 25px;

}
.smoo{
    display: flex;
    justify-content: space-evenly;
}
.smoimg{
    height: 400px;
}
.google{
    display: flex;
    justify-content: space-evenly;
}
.goog img{
    height: 300px;
    width: 100%;
}
.googp p{
  font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: rgb(87, 85, 85);
    margin-top: 20px;
    width: 110%;
    margin-right: 200px;
}

@media (max-width: 1300px) {
    .smo {
        margin: 0 50px;
    }

}

@media (max-width: 992px) {
    .smo img {
        margin: 0 25px;
    }

    .smoo{
        flex-direction: column;
    }

    .smo, .goog, .googp {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .googp1 {
        width: 80%;
    }

    .overr, .googp1 {
        display: flex;
        flex-direction: column;
    }

    .google {
        display: flex;
        flex-direction: column;
    }

    .goog img {
        width: auto;
    }

    .voiceover{
       display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0 20px;
}

}
 

@media (max-width:768px){
    .googp1 {
        width: 110%;
    }

    .googp {
        display: flex;
        width: 100%;
    }

    .smoimg{
    height: 200px;
}
    .shootimg{
        height: 250px;
        width: 300px;
    }
    .adimg img{
     height: 250px;
    width: 300px;
}

.voice img{
       height: 250px;
    width: 300px;
}
.overr{
font-family: poppins;
font-size: 15px;
font-weight: 600;
color: rgb(87, 85, 85);
}
.overr p{
margin-top: 10px;
padding: 20px;
}
.editing img{
    height: 200px;
    width: 300px;
}
.footer{
    margin-top: 20px;
}
.contentmaking img{
    height: 200px;
    width: 300px;
}
.para{
    font-family: poppins;
font-size: 15px;
padding: 10px;
font-weight: 600;
color: rgb(51, 49, 49);
}
.smo img{
    width: 250px;
    margin-top: 0px;

}
.smoo{
    display: flex;
      flex-direction: column;
     align-items: center;
     margin-top: 10px;
        
}
.google{
    display: flex;
flex-direction: column;
     align-items: center;
}
.goog img{
    height: 200px;
}
.googp p{
  font-family: poppins;
font-size: 15px;
font-weight: 600;
color: rgb(87, 85, 85);
margin-top: 20px;
padding: 5px;
}
}

@media (max-width: 478px) {
    .googp1 {
        margin: 20px;
    }
}